{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Species Learning</title>
    </head>

    <body>
    {% block maincontent %}
    <div id="introduction" style="width: 100%; margin-left: 20px">

        <h1>Introduction of Zoology</h1>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>
        <p>Here is supposed to be an introduction of species and zoology.</p>

        <div id="learnmore" style="width: 25%; margin-left: 50px; margin-top: 30px;">
            <a href="/order_classification">Learn More</a>
        </div>
    </div>
    {% endblock %}
    </body>

</html>